DB_URL=postgresql+psycopg://postgres:postgres@localhost:5433/terminal
FRED_API_KEY=fde5589cb6f49add72064defa1643452
TRADING_ECONOMICS_API_KEY=5b1d549880db450:n9z3o06tm2h2boy
MASSIVE_API_KEY=CW50d9Z9lqYjkcQQJHuVoEihMc2EeiV7
